{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <style>
        body{
            display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; margin: 0 ;
            text-align: center;
        }
        h1 {
            font-size: 50px;
            margin-bottom: 60px;  
        }
    </style>
</head>
<body>
    <h1>회원가입</h1>
    <form class="user" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="ID 를 입력하세요">
        </div>
        <div style="margin-top: 20px;">
            <div>
                <input type="password" name="password" placeholder="PW를 입력하세요">
            </div>
            <div style="margin-top: 5px;">
                <input type="password" name="repeat" placeholder="PW를 다시 한 번 입력하세요">
            </div>
        </div>
        <div style="margin-top: 60px;">
        <input class="btn btn-primary text-uppercase" type="submit" value="가입하기">
        </div>
    </form>
</body>
</html>