{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal - Start Bootstrap Theme</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'main' %}"><span class="fw-bolder text-primary">Start Bootstrap</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="{% url 'main' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'info' %}">Resume</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'feed_list' %}">게시글 목록</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

    <main class="flex-shrink-0">
        <section class="py-5">
            <div class="container px-5">

                <h2 class="fw-bolder mb-4">게시글 목록</h2>

                {% for item in feed %}
                <div class="card shadow border-0 rounded-4 mb-4">
                    <div class="card-body p-4">

                        <h3>
                            <a href="{% url 'feed_detail' item.id %}" class="text-decoration-none text-dark">
                                {{ item.title }}
                            </a>
                        </h3>

                        <p class="text-muted">{{ item.created_at }}</p>

                        <p>{{ item.body|truncatewords:20 }}</p>

                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </main>

    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5 text-center">
            <div class="small m-0">Copyright &copy; 2026</div>
        </div>
    </footer>
</body>
</html>